h1{
    color: black;
    background-color: rgb(179, 176, 176);
    text-align: center;
    font-style: arial;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 50px;
}

#imagem1{
    text-align: center;
    background-color: rgb(179, 176, 176);
}

.row{
    background-color: black;
    color: white;
    
}

.col-6{
    background-color: white;
    color: black;
    
}

.col-2{
    background-color:white;
}